version: "3.3"
services:
    server:
        build:
            context: .
        container_name: "investor-dashboard-server"
        restart: always
        ports:
            - "44461:44461"
            - "44462:44462"
        volumes:
            - ./Server/web/root/.aspnet/DataProtection-Keys:/root/.aspnet/DataProtection-Keys:rw
            - ./Server/Data/logs:/app/logs
        environment:
            ASSIGNED_IPADDRESS: ${AssignedIPAddress}
            DOTNET_CLI_TELEMETRY_OPTOUT: 1
            ASPNETCORE_HTTPS_PORT: 44462
            ASPNETCORE_URLS: http://+:44461;https://+:44462
            ASPNETCORE_ENVIRONMENT: Development
            DOTNET_RUNNING_IN_CONTAINER: true
            DOTNET_TieredPGO: 1
            DOTNET_TC_QuickJitForLoops: 1
            DOTNET_TieredCompilation: 1
            DOTNET_TC_QuickJit: 1
        depends_on:
            - auth
    auth: 
        build:
            context: ./Identity
            dockerfile: Dockerfile
        container_name: "investor-dashboard-auth"
        restart: always
        ports:
            - "5000:5000"
            - "5001:5001"
        volumes:
            - ./Server/web/root/.aspnet/DataProtection-Keys:/root/.aspnet/DataProtection-Keys:rw
            - ./Identity/Data/logs:/app/logs
        environment:
            ASSIGNED_IPADDRESS: ${AssignedIPAddress}
            DOTNET_CLI_TELEMETRY_OPTOUT: 1
            DOTNET_RUNNING_IN_CONTAINER: true
            DOTNET_TieredPGO: 1
            DOTNET_TC_QuickJitForLoops: 1
            DOTNET_TieredCompilation: 1
            DOTNET_TC_QuickJit: 1
            ASPNETCORE_ENVIRONMENT: Development
            ASPNETCORE_URLS: http://+:5000;https://+:5001
            ConnectionStrings__DefaultConnection: "${DatabaseConnectionString}"
        depends_on:
            - db
    db:
        image: "mcr.microsoft.com/azure-sql-edge:1.0.5"
        user: root
        container_name: "investordb"
        restart: always
        cap_add:
            - SYS_PTRACE
        ports:
            # Map TCP port 1433 in the container to port 1434 on the host for SQL Server
            - "1434:1433"
        volumes:
            - ./Identity/data/mssql/data/:/var/opt/mssql/data
        environment:
            MSSQL_SA_PASSWORD: ${DatabasePassword}
            ACCEPT_EULA: 1
            MSSQL_PID: Developer
            MSSQL_TCP_PORT: 1433
